.Center{
    display: flex;
    justify-content: center;
}
.left{
    width: 50%;
    background-color: #1D2A3B;
  
    height: 120vh;

}
.Right{
    background-color:#F4F9FF;
    width: 50%;
    height: 120vh;
    color: black;
}
.holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.image{
    height: 470px;
    object-fit: cover;

}
.imageHolder{
    width: 100%;
    display: flex;
    justify-content: center;
}
.Signup{
    font-family: 'Fira Sans';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
color: rgb(0, 0, 0);
padding-bottom: 20px;
}
.or{
    width: 100%;
color: white;
    text-align: center;
}
.contain{
    width: 80%;
margin-left: 40px;
padding-top: 180px;
}
.butt{
    width: 100%;
}
.Labell{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 160%;
}
.Checkk{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 160%;

}
.info{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
display: flex;
align-items: center;
}
.info2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

}
.INput{
    display: flex;
  
}
.InControl{
    height: 57px;
    width: 100%;
    margin: 4px;
}
.TwO{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
}