
.buttonn{
    outline:none ;
    border: none;
    height: 40px;
    padding: 8px;
    background-color: #1DB954;
    color: white;
    border-radius: 5px;
      width: 180px;
       text-align: center;
       display: flex;
       justify-content: center;
   
  }
  .CR{
     
      width: 25%;
  }
  .Sign{
  
      width: 55px;
      margin-left: 20px;
  }
  .Sign2{
    
      width: 120px;
      padding-left: 20px;}
  
.HEading{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

}  
.long{

    font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #828282;
}

.two{
    font-family: 'poppins';

font-weight: 400;
font-size: 14px;

color: #828282;

}
.time{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #828282;

}
.fterA {
    display: flex;
  
}
.W {

    width: 26%;
}

.downimage{
    height: 100%;
    width: 100%;
   
    display: flex;

}
.downimage2{
    height: 30px;
    width: 30px;
    border-radius: 15px;
  
 
}
.name{
    font-family: 'Poppins';
margin: 6px;
font-weight: 400;
font-size: 12px;

}
.cash{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
font-size: 16px;
line-height: 160%;
color: #1DB954;
text-align: center;
width: 100%;
}
.price{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 44px;



color: #1DB954;
}

.Push{
     margin-left:410px;
     margin-top: -340px;
}
.playLIst{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
}
.pHolder{
    margin-top: -110px;
}
.stacks{
    width: 552px;
    height: 75px;
   margin-top: 30px;
    
    background: #f4f4f4;
    /* background-color: red; */
    border-radius: 5px;
}
.chapter{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 160%;
}
.seconds{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 160%;
}
.align{
    width: 340px;
    display: flex;
    align-items: center;

}
.Barr{
    width: 340px; height: 5px;text-align: end;

}
.Contents{
    margin-top: -160px;
    
}
.Outcome{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.CCourse{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
}
.list{
    font-family: 'Poppins';

font-weight: 300;
font-size: 15px;
line-height: 30px;
}
.about{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 160%;
}
.jerry{
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 17px;
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;

}
.ecllipse{
    display: flex;
    flex-direction: column;
 
 
}
.Mage1{
    margin: 10px;
    height: 120px;
  
}

.Mage4{
    margin: 10px;
    height: 120px;
 
}
.teach{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 160%;
}
.Form{
    Width: 416px;
    Height:
    auto;
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: center;
border-radius: 5px;
background-color: #ffffff;
padding: 5px;

}
.Form input{
border: none;
outline: none;
width: 247px;
height: 40px;
font-family: 'poppins';
font-weight: 400;
font-size: 14px;
margin: 5px;
}
.Form button{
color: white;
outline: none;
border: none;
height: 40px;
width: 120px;
/* margin: 5px; */
background: #1D2A3B;
border-radius: 5px;


}
.Resources{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
        }
        .Resources2{
     font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 24px;
    
        }
        .Subs{
            font-family: 'Poppins';
    cursor: pointer;
    font-size: px;
    text-align: center;
        }
        .Terms{
    font-family: 'Poppins';
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    width: 300px;
    cursor: pointer;
        }
        .Termss {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    
    cursor: pointer;
        }
        .Termss span{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    width: 220px;
    color: #1DB954;
    cursor: pointer;
        }
        .Roller{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 70%;
            margin-left: 10%;
         }          




         .brother{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
         }
         .all{
            display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        
        }
         .all span{
            display: flex;
        flex-direction: column;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        
        
        
        }
        
        .Download{
            font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        
        
        }
        