
.buttonn{
    outline:none ;
    border: none;
    height: 40px;
    padding: 8px;
    background-color: #1DB954;
    color: white;
    border-radius: 5px;
      width: 180px;
       text-align: center;
       display: flex;
       justify-content: center;
   
  }
  .CR{
     
      width: 25%;
  }
  .Sign{
  
      width: 55px;
      margin-left: 20px;
  }
  .Sign2{
    
      width: 120px;
      padding-left: 20px;}
  
.HEading{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

}  
.long{

    font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #828282;
}

.two{
    font-family: 'poppins';

font-weight: 400;
font-size: 14px;

color: #828282;

}
.time{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #828282;

}
left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    }
    .left img{
    
    
    width: 150px;
    display: flex;
    justify-content: center;
    
    }
    .header{
        font-family: 'Fira Sans';
   font-weight: 600;
   font-size: 44px;
   }
   .details{
    font-family: 'Noto Serif', serif;
font-family: 'Poppins', sans-serif;

font-weight: 400;
font-size: 20px;
line-height: 150%;
}
.imageHolder{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 400px; */

}
.image2{
    height: 320px;
    display: flex;
    justify-content: center;
    object-fit: contain;
    
    }
    .forTheThree{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .image3{
        height: 450px;
        display: flex;
        justify-content: center;
        object-fit: contain;
        
        }
        .Conttact{
            font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 160%;
        }
        .leaveUs{

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
        }
        .LLabel{
            font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 30px;
        }
        .Resources{
            font-family: 'Poppins';
            font-weight: 600;
            font-size: 23px;
            text-align: center;
            cursor: pointer;
                }
                .Resources2{
             font-family: 'Fira Sans';
            font-weight: 400;
            font-size: 24px;
            
                }
                .Subs{
                    font-family: 'Poppins';
            cursor: pointer;
            font-size: px;
            text-align: center;
                }
                .Terms{
            font-family: 'Poppins';
            font-weight: 400;
            display: flex;
            justify-content: space-around;
            width: 300px;
            cursor: pointer;
                }
                .Termss {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 15px;
            
            cursor: pointer;
                }
                .Termss span{
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 14px;
            width: 220px;
            color: #1DB954;
            cursor: pointer;
                }

 .Roller{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
    margin-left: 10%;
 }               










 .brother{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 .all{
    display: flex;
flex-direction: column;
margin-bottom: 20px;

}
 .all span{
    display: flex;
flex-direction: column;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;



}

.Download{
    font-family: 'Fira Sans';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 38px;


}
