
body{
    font-family: 'Noto Serif', serif;
    font-family: 'Poppins', sans-serif;
}

.buttonn{
  outline:none ;
  border: none;
  height: 40px;
  padding: 8px;
  background-color: #1DB954;
  color: white;
  border-radius: 5px;
    width: 180px;
     text-align: center;
     display: flex;
     justify-content: center;
 
}
.CR{
   
    width: 25%;
}
.Sign{

    width: 55px;
    margin-left: 20px;
}
.Sign2{
  
    width: 120px;
    padding-left: 20px;
}
.header{
     font-family: 'Fira Sans';
font-weight: 600;
font-size: 44px;
}
.header2{
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
  
  
}
.header3{
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
  
  
}
.details{
    font-family: 'Noto Serif', serif;
font-family: 'Poppins', sans-serif;

font-weight: 400;
font-size: 20px;
line-height: 150%;
}
.details2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
}
.details3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
   line-height: 170%;
    
    
}
.left{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;

}
.left20{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}
.left img{


width: 150px;
display: flex;
justify-content: center;

}
.image{
height: 430px;
display: flex;
justify-content: center;
object-fit: contain;

}
.image2{
height: 430px;
display: flex;
justify-content: center;
object-fit: contain;

}
.call{
    font-family: 'Poppins';
    font-weight: 500;

    font-size: 14px;
}
.imageHolder20{
    width: 200px;
    height: 400px;
  
}
.imageHolder{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 400px; */

}
.create{
    font-family: 'Fira Sans';

font-weight: 200;
font-size: 38px;

}
.Inst{
    font-family: 'Poppins'; 
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    text-align: center;

}
.two{
    font-family: 'poppins';

font-weight: 400;
font-size: 14px;

color: #828282;

}
.downimage{
    height: 100%;
    width: 100%;
   
    display: flex;

}
.downimage2{
    height: 30px;
    width: 30px;
    border-radius: 15px;
  
 
}
.name{
    font-family: 'Poppins';
margin: 6px;
font-weight: 400;
font-size: 12px;

}
.cash{
    font-family: 'Poppins', sans-serif;
font-weight: bolder;
font-size: 16px;
line-height: 160%;
color: #1DB954;
text-align: center;
width: 100%;
}


.chi{
    font-family: 'Poppins';
font-weight: 400;
font-size: 20px;
line-height: 170%;
}
.hrs{
width: 20%;
}


  
 
.Card{
    height: auto;
  padding: 40px;
    border-radius: 7px;
    background: #1D2A3B;
    background-image: url("./popularCourse/Masgroup.svg");

}
.teach{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 160%;
}
.sign{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}



.imag{
    object-fit: cover;
    
    width: 200px;
    height: 350px;
    }
    .imageHold{
        width: 200px;
        height: 350px;
 
    }


  


.Resources{
font-family: 'Poppins';
font-weight: 600;
font-size: 23px;
text-align: center;
cursor: pointer;
    }
    .Resources2{
 font-family: 'Fira Sans';
font-weight: 400;
font-size: 24px;

    }
    .Subs{
        font-family: 'Poppins';
cursor: pointer;
font-size: px;
text-align: center;
    }
    .Terms{
font-family: 'Poppins';
font-weight: 400;
display: flex;
justify-content: space-around;
width: 300px;
cursor: pointer;
    }
    .Termss {
font-family: 'Poppins';
font-weight: 400;
font-size: 15px;

cursor: pointer;
    }
    .Termss span{
font-family: 'Poppins';
font-weight: 400;
font-size: 14px;
width: 220px;
color: #1DB954;
cursor: pointer;
    }
    .Start{
     display: flex;
     justify-content: center;
   
    }
    .Sstat{
        display: flex;
        justify-content: space-around;
     margin-left: 900px;
        width: 75%;
    }
    .Each-icon{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Anywhere{
 
        font-family: 'Fira Sans';
        font-weight: 600;
        font-size: 30px;
        line-height: 41px;
        text-align: center; 
        color: #272727;
    }
    .centerr{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

  .chiamaka{
font-family: 'Poppins';
font-weight: 400;
font-size: 20px;
  }

  .Line{
background-color: #1DB954;
height: 5px;
width: 120px;

  }

.push{

display: flex;
justify-content: space-evenly;

}
.inner{
    display: flex;
    justify-content: space-evenly;
  
    padding-right: 20px;
}
.second{
    text-align: end;
}

.View{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: #1DB954;
    cursor: pointer;
}


.Form{
    Width: 416px;
    Height:
    auto;
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: center;
border-radius: 5px;
background-color: #ffffff;
padding: 5px;

}
.Form input{
border: none;
outline: none;
width: 247px;
height: 40px;
font-family: 'poppins';
font-weight: 400;
font-size: 14px;
margin: 5px;
}
.Form button{
color: white;
outline: none;
border: none;
height: 40px;
width: 120px;
/* margin: 5px; */
background: #1D2A3B;
border-radius: 5px;


}
.Good{
    display: flex;
    flex-direction: column;
    align-items: center;justify-content: center;

}
.Roller{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
    margin-left: 10%;
 }  




 .brother{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 .all{
    display: flex;
flex-direction: column;
margin-bottom: 20px;

}
 .all span{
    display: flex;
flex-direction: column;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;



}

.Download{
    font-family: 'Fira Sans';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 38px;


}
